{% extends "basic/Layout.html" %}

{% block body_block %}

<ul>
    <li>{{Author.AuthorName}}</li>
    <li>{{Author.Country}}</li>
    <li>{{Author.BookName}}</li>
</ul>

<table class="table">
    <thead>
        <td>Author Name</td>
        <td>Country</td>
        <td>Book Name</td>
    </thead>
    {% for author in Authors %}
        {% comment %} <tr>
            <td>{{author.AuthorName}}</td>
            <td>{{author.Country}}</td>
            <td>{{author.BookName}}</td>
        </tr> {% endcomment %}
        {% include "basic/_Showauthorpatialview.html" with author=author %}

    {% endfor %}
</table>

{% endblock  %}